body{
  padding-top:80px;
  word-wrap:break-word;
  background-image: url('img/background.png');
  background-size: cover;
  /* background-image: url('img/diary.png') ; */
  color: black;
}
img{
  height: 200px;
}

div .well{
  background-color: rgb(255, 115, 0);
  height: 500px;
}

div .leftbox{

  height: 500px;
  
 
  

}


li {
  font-size: 25px;
  margin: 15px
}