body{
  padding-top:80px;
  word-wrap:break-word;
  background-image: url('img/background.png');
  background-size: cover;
  /* background-image: url('img/diary.png') ; */
  color: black;
}
img{
  height: 200px;
}

div .well{
  background-color: rgb(255, 115, 0);
  height: 500px;
}

div .leftbox{

  height: 500px;
  
 
  

}


li {
  font-size: 25px;
  margin: 15px
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  color: #333;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}



.message td:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message td:last-child i {
  cursor: pointer;
  margin-left: 10px;
}

.fa-square-check {
  color: #2ecc71;
}

.fa-dumpster {
  color: #e74c3c;
}

.check {
  font-size: 22px;
  font-weight: bold;
}
